.firstDiv{
  color:blue;
}
.secondDiv{
  color:red;
  background:gray;
}
*{
  color:green;
}
#singledout{
  color:green;
  text-decoration: line-through;
}
h3 + ul{

border: 4px dotted purple;
  }
li a{
  color:red;
}

li a[href="www.npr.org"]{
  color: red;
  border: 5px solid orange;
}
